{
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-react-jsx",
    "lodash"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "debug": false,
        "modules": false,
        "loose": true,
        "useBuiltIns": "usage"
      }
    ]
  ]
}
