html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 20px;
  line-height: 26px;
  font-family: sans-serif;
}

#app {
  position: relative;
  overflow: hidden;
  top: 50%;
  width: 1280px;
  height: 720px;
  margin: -360px auto 0 auto;
  color: #ebebeb;
  background-color: #10101c;
  background-image: url(//s3-eu-west-1.amazonaws.com/lrud-react-example/bg.jpg);
  background-size: 100%;
}
