html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

#app {
  position: relative;
  overflow: hidden;
  top: 50%;
  color: #ebebeb;
  background-color: #10101c;
  background-image: url(//connected-tv.files.bbci.co.uk/tap/4.6.46.2/img/theme-backgrounds/background.iplayer.jpg);
  background-size: 100%;
}

.fade-in {
  visibility: hidden;
  opacity: 1;
  transition: visibility 0s linear 400ms, opacity 400ms;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 400ms, opacity 400ms;
}
