html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

#app {
  position: relative;
  overflow: hidden;
  top: 50%;
  color: #ebebeb;
  background-color: #10101c;
  background-image: url(//connected-tv.files.bbci.co.uk/tap/4.6.46.2/img/theme-backgrounds/background.iplayer.jpg);
  background-size: 100%;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
